<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:cantSaveState="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gp">
        <activity android:name=".Ui.ProductDetail"></activity>
        <activity android:name=".Ui.Product_bid" />
        <activity android:name=".Ui.Try" />
        <activity android:name=".Ui.MainActivity" />
        <activity android:name=".Ui.MainHostFragment" />
        <activity android:name=".Ui.LoginActivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>